<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>home</mat-icon></a>
      <a mat-list-item href="#">Hombres</a>
      <a mat-list-item href="#">Mujeres</a>
      <a mat-list-item href="#">Niñas</a>
      <a mat-list-item href="#">Niños</a>
      <a mat-list-item href="#">Promociones</a>
      <a mat-list-item href="#">Inventario</a>
      <a mat-list-item href="#">acerca</a>
      <a mat-list-item href="#">Administrador</a>
      <a mat-list-item href="#">Vendedor</a>
    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content> 
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../../../../../assets/imagesMenuNav/logoStileyStore-removebg-preview.png" alt="logo">
        <mat-icon class="icon">home</mat-icon>
        <a href="#">Hombres</a>
        <a href="#">Mujeres</a>
        <a href="#">Niñas</a>
        <a href="#">Niños</a>
        <a href="#">Promociones</a>
        <a href="#">Inventario</a>
        <a href="#">Acerca</a>
      <span class="spacer"></span>
      <mat-icon>account_circle</mat-icon>
      <mat-icon>shopping_cart</mat-icon>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
